:root {
    --main-color: #2B9DF4;
    --secondary-color: #8C8C8C;
    --title-font: 'Orbitron', sans-serif;
    --text-font: 'Jura', sans-serif;
}

body {
    background-color: black;
}

/* Navbar Section */
nav {
    position: relative;
    background-color: black;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    box-shadow: 20px 0px 80px 80px black;
}

.custom-navbar {
    padding-left: 16px;
    list-style: none;
    display: flex;
    margin: 0px;
}

.custom-navbar li {
    padding: 25px 30px;
    color: var(--secondary-color);
    font-family: var(--text-font);
    font-size: 18px;
}

.custom-nav-logo {
    margin-left: 20px;
    font-size: 30px;
    color: white;
}

/* Header Section */
.bg-header{
    background-image: url(./media/moon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.bg-filter {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-title {
    color: white;
    font-family: var(--title-font);
    font-size: 70px;
    margin-left: 50px;
}

.header-text {
    color: white;
    font-family: var(--text-font);
    font-size: 22px;
    margin-left: 50px;
    font-weight: 600;
}

/* Section 1 */
.custom-section-1 {
    background-color: black;
    padding: 0px 50px 50px 50px;
    box-shadow: 0px 20px 80px 100px black;
}

.custom-col-arrow-section-1 {
    margin-bottom: 160px;
}

.arrow-icon-section-1 {
    font-size: 40px;
    color: var(--main-color);
}

.card-section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
}

.card-section-1 h6 {
    font-family: var(--text-font);
    color: white;
}

.card-section-1 h3 {
    font-family: var(--title-font);
    font-size: 40px;
    color: white;
    padding: 10px 0px;
}

/* Section 2 */
.custom-section-2 {
    background-color: black;
    margin: 140px 60px 0px 60px;
}

.img-section-2 {
    width: 90%;
}

.title-section-2 {
    color: var(--main-color);
    font-family: var(--text-font);
    font-size: 30px;
}

.text-section-2 {
    color: white;
    font-family: var(--text-font);
    font-size: 18px;
}

/* Section 3 */
.custom-section-3 {
    margin: 140px 60px 0px 60px;
}

.card-section-3 {
    margin: 30px 0px;
    max-width: 400px;
}

.icon-card-section-3 {
    color: var(--main-color);
    margin-right: 10px;
}

.title-card-section-3 {
    font-size: 28px;
    font-weight: 600;
    font-family: var(--text-font);
    color: white;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--main-color);
}

.text-card-section-3 {
    font-size: 18px;
    font-family: var(--text-font);
    color: white;
}

/* Section 4 */
.custom-section-4 {
    margin: 140px 60px 0px 60px;
    background-image: url(./media/missile-2027068_1280.png);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.card-section-4 {
    max-width: 800px;
    margin: 150px 0px;
}

.title-card-section-4 {
    font-size: 30px;
    font-weight: 600;
    color: var(--main-color);
    font-family: var(--text-font);
}

.text-card-section-4 {
    font-size: 18px;
    font-family: var(--text-font);
    color: white;
}

/* Section 5 */
.custom-section-5 {
    margin: 140px 60px 0px 60px;
}

.title-card-section-5 {
    color: var(--main-color);
    font-family: var(--text-font);
}

.text-card-section-5 {
    font-size: 18px;
    color: var(--secondary-color);
    font-family: var(--text-font);
}

.button-card-section-5 {
    font-family: var(--text-font);
    color: white;
    text-decoration: none;
}

.border-button-section-5 {
    position: relative;
    border: 3px solid var(--main-color);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-button-section-5::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 3px;
    background-color: black;
    left: -3px;
}

.border-button-section-5::after {
    content: "";
    position: absolute;
    height: 30px;
    width: 3px;
    background-color: black;
    right: -3px;
}

.top-corner {
    position: absolute;
    background-color: black;
    width: 130px;
    height: 3px;
    top: -3px;
}

.bottom-corner {
    position: absolute;
    background-color: black;
    width: 130px;
    height: 3px;
    bottom: -3px;
}

/* Footer Section */
.custom-footer {
    margin-top: 120px;
}

.bg-footer {
    height: 900px;
    background-image: url(./media/sunrise-1765027_1920.jpg);
    /* background-color: orange; */
    background-position: center;
    background-repeat: no-repeat;
}

.footer-bg-filter {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding: 0px 60px 120px 60px;
}

.title-footer {
    color: var(--main-color);
    font-family: var(--text-font);
}

.text-footer {
    color: white;
    font-family: var(--text-font);
}

.icon-box-footer {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blue-line {
    background-color: var(--main-color);
    height: 10px;
    margin-bottom: 120px;
    box-shadow: inset 500px 0px 80px -30px rgb(0,0,0), inset -500px 0px 80px -30px rgb(0,0,0);
}

/* Media Query */
@media screen and (max-width: 1200px) {
    .custom-section-4 {
        background-image: url(./media/mars-11012_1920.jpg);
    }

    .card-section-4 {
        margin: 60px 0px;
    }

    .blue-line {
        box-shadow: inset 300px 0px 80px -30px rgb(0,0,0), inset -300px 0px 80px -30px rgb(0,0,0);
    }
}

@media screen and (max-width: 768px) {
    /* Navbar Section */
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .custom-navbar {
        display: block;
        margin: 0px;
        padding: 0px;
    }

    .custom-nav-logo {
        margin: 15px 0px 0px 0px;
    }

    .custom-navbar li {
        padding: 25px 0px;
    }

    /* Header Section */
    .bg-filter {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .header-title {
        margin-left: 0px;
        text-align: center;
        font-size: 50px;
    }
    
    .header-text {
        margin-left: 0px;
        text-align: center;
        font-size: 18px;
    }

    .img-section-2 {
        width: 100%;
    }

    .custom-footer {
        margin-top: 30px;
    }

    .blue-line {
        box-shadow: inset 180px 0px 80px -30px rgb(0,0,0), inset -180px 0px 80px -30px rgb(0,0,0);
    }
}